<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.taruc.fitnesscompanion">

    <uses-sdk android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <permission
        android:name="my.com.taruc.fitnesscompanion.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="my.com.taruc.fitnesscompanion.permission.C2D_MESSAGE" />

    <application
        android:name=".FitnessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1682339881994052"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LoginPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SignUpPage"
            android:label="@string/title_activity_sign_up_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AchievementMenu"
            android:label="@string/title_activity_achievement_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ExercisePage"
            android:label="@string/title_activity_exercise_menu"
            android:screenOrientation="portrait" />

        <fragment
            android:name=".UserProfilePage"
            android:label="@string/title_activity_user_profile_page" />

        <activity
            android:name=".UI.ProfilePage"
            android:label="@string/title_activity_screen_slide_pager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <fragment
            android:name=".HealthProfilePage"
            android:label="@string/title_activity_health_profile_page" />

        <activity
            android:name=".UI.MedalPage"
            android:label="@string/title_activity_metal_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.RankingPage"
            android:label="@string/title_activity_ranking_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.GoalPage"
            android:label="@string/title_activity_goal_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ReminderPage"
            android:label="@string/title_activity_schedule_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ReminderNewPage"
            android:label="@string/title_activity_schedule_new_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HRStripBLE.DeviceScanActivity"
            android:label="@string/title_activity_HRStrip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Graph.MyRealTimeGraphView"
            android:label="MyGraphView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Graph.MyExerciseGraphView"
            android:label="MyGraphView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HeartRateCamera.HeartRateMonitor"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_heart_rate_monitor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ReminderPauseAlarm"
            android:label="@string/title_activity_schedule_pause_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.IChoiceActivity"
            android:label="@string/title_activity_ichoice"
            android:screenOrientation="portrait" />

        <service
            android:name=".BackgroundSensor.TheService"
            android:enabled="true" />
        <service
            android:name=".BackgroundSensor.AccelerometerSensor"
            android:enabled="true" />
        <service
            android:name=".BackgroundSensor.AccelerometerSensor2"
            android:enabled="true" />
        <service android:name=".HRStripBLE.BluetoothLeService" />

        <receiver android:name=".Reminder.AlarmService.MyReceiver" />

        <service android:name=".Reminder.AlarmService.MyAlarmService" />
        <service android:name="com.choicemmed.a30.BleService" />

        <receiver android:name=".UI.IChoiceActivity$Receiver" />

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <service
            android:name=".GCM.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".UI.EventPage"
            android:label="@string/title_activity_event_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Graph.MySleepDataGraphView"
            android:label="@string/title_activity_my_sleep_data_graph_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ActivityPlanPage"
            android:label="@string/title_activity_activity_plan_page"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="60b5d30e6d303582eee4124271299f39c90669ee" />

        <activity android:name=".VirtualRacer.VirtualRacerMainActivity"
            android:label="VirtualRacerMainPage"
            android:screenOrientation="portrait"/>

        <activity android:name=".VirtualRacer.SetTarget"
            android:label="SetTargetPage"
            android:screenOrientation="portrait"
            android:parentActivityName=".VirtualRacer.VirtualRacerMainActivity"/>

        <activity android:name=".VirtualRacer.SetChallenge"
            android:label="SetChallengePage"
            android:screenOrientation="portrait"
            android:parentActivityName=".VirtualRacer.VirtualRacerMainActivity"/>

        <activity android:name=".VirtualRacer.ViewPastRecord"
            android:label="PastRecordPage"
            android:screenOrientation="portrait"
            android:parentActivityName=".VirtualRacer.VirtualRacerMainActivity"/>
    </application>

</manifest>